.container {
    display: flex;
    justify-content: center;  /* Center horizontally */
    align-items: center;      /* Center vertically */
    height: 100vh;            /* Full height of the viewport */
  }
  
  .login-card {
    width: 425px;             /* Set a fixed width for the card */
    padding: 20px;
    text-align: center;
  }
  
  .full-width {
    width: 100%;
    margin-top: 10px;
  }
  