<div class="container">
    <mat-card class="login-card" appearance="outlined">
        <mat-card-title>Register</mat-card-title>
        <mat-card-content>
            <form #formData="ngForm"  (ngSubmit)="registerUser(formData.value)">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Name</mat-label>
                    <input matInput [(ngModel)]="name" name="name" type="text" />
                </mat-form-field>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Email</mat-label>
                    <input matInput [(ngModel)]="email" name="email" type="email" />
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Password</mat-label>
                    <input matInput [(ngModel)]="password" name="password" type="password" />
                </mat-form-field>

                <button mat-raised-button color="primary" class="full-width" type="submit">
                    Register
                </button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
